.nav {
  background-color: var(--color-gray-100);
  font-size: 40px;
  color: var(--color-goldenrod);
  font-family: var(--web-body-text-big);
  background-color: var(--color-gray-100);
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 102px;
}

.logo {
  font-family: Inter;
  font-size: 40px;
  font-weight: 800;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.search-for-products,
.vector-parent {
  top: 0;
  left: 38px;
}
.vector-parent {
  display: flex;
  align-items: center;
  width: 100%;
}
.vector-parent img {
  margin-left: 13px;
}

.vector-parent input {
  height: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  width: 100%;
  flex: 1;
  color: #78847b;
  font-family: var(--web-body-text-big);
  margin-left: 20px;
}

.vector-parent button {
  height: 100%;
  background: #f5c249;
  width: 109.99px;
  border: none;
  color: #21242d;
  font-size: 16px;
  font-weight: 600;
  font-family: var(--web-body-text-big-size);
}
.group-child {
  width: 100%;
  left: 0;
  border-radius: var(--br-8xs);
  border: 2px solid var(--color-goldenrod);
  box-sizing: border-box;
}

.search-nav {
  height: 40px;
  font-size: var(--web-body-text-big-size);
  color: var(--subtitle-text);
  display: flex;
  border: 2px solid #f5c249;
  width: 680px;
  border-radius: 4px;
}

.vector-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}

a.vector-group {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.3ms ease-in-out;
}

a.vector-group:hover {
  color: var(--color-goldenrod);
  text-decoration: none;
}

.frame-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-white);
}

.group-icon {
  width: 660px;
  height: 600px;
}
.group-icon img {
  width: 100%;
  height: 100%;
}

.footer {
  border-top: 3px solid #f5f5f5;
  margin-top: 120px;
  padding: 0 30px;
}

.whats-new {
  width: 70%;
  margin: 0 auto;
  color: #fcfffd;
  font-family: var(--web-body-text-big);
  padding: 20px 0;
}

.mail {
  background-color: #fff;
  border: 2px solid #ffff;
}

.mail input {
  color: #78847b;
}
.mail button {
  width: 130px;
  color: #fff;
}
.whats-new-content {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 10px;
}

.links-section {
  color: var(--color-white);
  font-family: var(--web-body-text-big);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.links-section ul {
  margin: 0;
  /* margin-left: 21px; */
}
.links-section li {
  list-style: none;
  margin: 15px 0;
}
.links-section li a {
  color: var(--color-white);
  text-decoration: none;
}

.links-section-block {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.social-media {
  width: 90%;
  margin: 0 auto;
  color: #fcfffd;
  font-family: var(--web-body-text-big);
  padding: 20px 50px;
  display: flex;
  align-items: center;
  gap: 60px;
}

.social-media ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
.social-media li {
  list-style: none;
}

.NftComingSoon-section {
  display: grid;
  grid-template-columns: 250px 1fr;
  color: var(--color-white);
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  font-family: var(--web-body-text-big);
  padding: 30px 0;
  padding-bottom: 200px;
}

.NftComingSoon-sidebar {
  border: 2px solid var(--color-goldenrod);
  border-radius: 8px;
}
.NftComingSoon-sidebar ul li .vector-group {
  justify-content: start;
}
.NftComingSoon-sidebar a {
  list-style: none;
  margin: 20px 0;
  text-align: start;
}
.NftComingSoon-sidebar a.vector-group .my-text {
  font-size: 24px;
  line-height: 24px;
}
.NftComingSoon-sidebar a.vector-group {
  justify-content: start;
  padding: 5px 20px;
}

.center-content-container-nft {
  margin-left: 30px;
}

.center-content-container-nft div {
  width: 595px;
  height: 502px;
  padding-right: 20px;
  /* margin: 0 auto; */
}

.center-content-container-nft div img {
  width: 100%;
  height: 100%;
}

.center-content-container-nft div h2 {
  font-size: 64px;
  font-weight: 600;
  color: #ffffff;
  text-transform: capitalize;
  margin: 10px 0;
  line-height: 75.07px;
}

.center-content-container-nft div h3 {
  font-size: 64px;
  font-weight: 600;
  color: #f5c249;
  text-transform: capitalize;
  margin: 0;
}
